/* ROUTING LAYOUT */

.app-layout {
    display: flex;
    min-height: 100vh;
    background-color: #f8f9fa;
}


/* SIDEBAR */

.sidebar {
    width: 230px;
    min-height: 100vh;
    padding: 35px 20px;
    background-color: white;
    border-right: 1px solid #ddd;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);
}

.sidebar a {
    display: block;
    padding: 12px 15px;
    margin-bottom: 10px;
    color: #222;
    text-decoration: none;
    font-size: 16px;
    border-radius: 6px;
    transition: 0.2s;
}

.sidebar a:hover {
    background-color: #222;
    color: white;
}


/* CONTENT AREA */

.content-area {
    flex: 1;
    min-width: 0;
    padding: 30px;
    background-color: #f8f9fa;
}


/* HOME PAGE */

.content-area .container {
    background-color: white;
    padding: 50px 30px;
    border-radius: 10px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.08);
}

.content-area .container h1 {
    margin-bottom: 15px;
}

.content-area .container p {
    color: #666;
}
.react-image {
    width: 120px;
    height: 120px;
    object-fit: contain;
    margin-bottom: 20px;
}
/* =========================
   SIDEBAR SECTION HEADER
========================= */

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 12px 15px;

    font-size: 16px;
    font-weight: 500;

    cursor: pointer;

    color: #212529;

    border-radius: 6px;
}

.section-header:hover {
    background-color: #f1f3f5;
}

.section-header i {
    font-size: 18px;
}


/* =========================
   SIDEBAR ITEMS
========================= */

.section-items {
    padding: 8px 0 8px 20px;
}

.section-items a:hover {
    color: #0d6efd;
}
.section-items a {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 7px 10px;

    color: #333;
    text-decoration: none;

    font-size: 16px;
}

.section-items a i {
    font-size: 16px;
}