
/* Task 1 */

.nav {
    list-style: none;
    width: 600px;
    margin-bottom: 40px;
}



/* Task 2 */

.columns {
    list-style: none;
    width: 560px;              
    margin-left: 0;
    margin-bottom: 40px;
    
    font-family: sans-serif;   
}

.columns li {
    font-size: 15px;
    line-height: 1.5;
    margin: 4px 0;                
    border: 2px solid #a2c4e8; 
}



/* Task 3 */

.parent {
    width: 400px;
    height: 300px;

    margin-left: 20px;
}

.child {
    font-size: 18px;
    
   
    width: 170px; 
    height: 48px;
         
    justify-content: flex-start; 
             
    box-sizing: border-box;      
}


.tags-wrapper{
    max-width:750px;
}

.tags-row{
    padding:0;
    margin:0;
}

.tags-row li{
    font-family:sans-serif;
    font-size:16px;
}

.row-of-3 li{
    min-width:200px;
}